/* Reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* /Reset */
body{
  font-family: 'Roboto', sans-serif;
}
/* ---------------------MIX-------------------- */
#speciale{
  text-decoration: none;
  font-size: 13px;
  color: grey;
}
.special-hr{
  max-width: 60px;
  margin: auto;
}
#help{
  position: fixed;
  bottom: 40px;
  right: 50px;
}
.pulsante{
  display: inline-block;
  border-radius: 5px;
  text-align: center;
  color: white;
}
.grosso{
  text-decoration: none;
  padding: 20px;
  background-color: #7CBB02;
}
.vuoto{
  border: 2px solid white;
  padding: 10px 30px;
}
.verde{
  padding: 10px;
  background-color: #7CBB02;
}
/* --------------------/MIX---------------------- */
.box-blue{
  height: 550px;
  width: 100%;
  background-color: #0C325A;
  padding-top: 10px;
}
/* -------------------------HEADER------------------------- */
header{
  height: 10%;
  width: 80%;
  margin: auto;
  font-size: 0;
}
.header-menu{
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
}
.logo{
  width: 10%;
}
/* navbar */
.info{
  width: 50%;
  text-align: center;
}
.personal{
  width: 40%;
  text-align: right;
}
.info nav, .personal nav{
  margin-top: 5px;
  vertical-align: middle;
}
.info nav li, .personal nav li{
  display: inline-block;
  margin-right: 20px;
}
.info nav a, .personal nav a{
  text-decoration: none;
  font-size: 12px;
  color: white;
}
/* /navbar */
/* -------------------------/HEADER------------------------- */
/* -------------------------MAIN------------------------- */
main{
  margin-top: 80px;
  width: 100%;
  height:calc(90% - 80px);
  background-image: url("../img/background-header.png");
  background-size:contain;
  background-position: 112% 100%;
  background-repeat:no-repeat;
}
.principale{
  height: 100%;
  width: 80%;
  margin: auto;
  position: relative;
}
.content{
  height: 200px;
  width: 55%;
  position: absolute;
  top: 55px;
}
h1{
  font-size: 58px;
  font-weight: 500;
  margin-bottom: 50px;
  color: white;
}
/* ------------------------/-MAIN------------------------- */
/* --------------SECTION-GREY1---------------- */
.sec-grey1{
  margin-bottom: 50px;
  background-color: #D3D3D3;
  text-align: center;
  padding: 40px 0;
}
.sec-grey1 h4{
  margin-top: 10px;
  color: grey;
  font-weight: 500;
}
/* -------------/SECTION-GREY1------------------ */
/* CLEARFIX */
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
/* /CLEARFIX */
.container{
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
}
.col-sx, .col-dx, .col-cen {
  float: left;
  width: calc(100% / 3 - 60px);
  display: inline-block;
  margin: 30px;
}
.col-sx img, .col-dx img, .col-cen img{
  width: 100%;
  margin: auto;
  height: 230px;
  object-fit: contain;
}
.container h4{
  text-align: center;
  font-size: 26px;
  color: #7CBB02;
  margin-top: 15px;
  margin-bottom: 15px;
}
.container p{
  text-align:center;
  margin-top: 15px;
  color: grey;
}
/* -------------------------------------------------------- */
.col-uno, .col-due{
  float: left;
  width: calc(100% / 2 - 60px);
  display: inline-block;
  margin: 30px;
}
.col-uno img{
  width: 100%;
  margin: auto;
  height: 400px;
}
.col-due h3{
  font-size: 28px;
  max-width: 70%;
  text-align: left;
}
.col-due p{
  text-align: left;
  max-width: 70%;
  margin-bottom: 15px;
}
.col-due a{
  color: #4256dd;
}
/* ----------------SECTION-GREY2---------------------- */
.plan{
  background-color: #D3D3D3;
  padding: 50px 0;
}
.col-sin {
  float: left;
  width: 55%;
  display: inline-block;
  margin-top: 10px;
  font-size: 24px;
  text-align: left;
}
.col-des{
  float: left;
  width: 45%;
  display: inline-block;
}
select{
  color: grey;
  background-color: #D3D3D3;
}
.col-des nav li{
  display: inline-block;
  margin-right: 20px;
}
/* ------------------/SECTION-GREY2-------------------- */
