/* Reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* /Reset */
body{
  font-family: 'Roboto', sans-serif;
}
.home-page{
  height: 1200px; /*da togliere successivamente*/
  width: 100%;
}
.box-blue{
  height: 550px;
  width: 100%;
  background-color: #0C325A;
  padding-top: 10px;
}
/* MIX */
.pulsante-grosso{
  text-decoration: none;
  color: white;
  border-radius: 5px;
  text-align: center;
  padding: 20px;
  background-color: #7CBB02;
}
.pulsante-vuoto{
  border: 2px solid white;
  border-radius: 5px;
  text-align: center;
  padding: 10px 30px;
}
.pulsante-verde{
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  background-color: #7CBB02;
}
/*/ MIX */
/* -------------------------HEADER------------------------- */
header{
  height: 10%;
  width: 80%;
  margin: auto;
}
.logo{
  display: inline-block;
  width: 10%;
  vertical-align: middle;
}
/* navbar */
.info{
  display: inline-block;
  vertical-align: middle;
  width: calc(50% - 20px);
  text-align: center;
}
.personal{
  display: inline-block;
  vertical-align: middle;
  width: 40%;
  text-align: right;
}
nav{
  margin-top: 5px;
  vertical-align: middle;
}
nav li{
  display: inline-block;
  margin-right: 20px;
}
nav a{
  text-decoration: none;
  font-size: 12px;
  color: white;
}
/* /navbar */
/* -------------------------/HEADER------------------------- */
/* -------------------------MAIN------------------------- */
main{
  margin-top: 80px;
  width: 100%;
  height:calc(90% - 80px);
  background-image: url("../img/background-header.png");
  background-size:contain;
  background-position: right;
  background-repeat:no-repeat;
}
.principale{
  height: 100%;
  width: 80%;
  margin: auto;
  position: relative;
}
.content{
  height: 200px;
  width: 55%;
  position: absolute;
  top: 55px;
}
h1{
  font-size: 58px;
  font-weight: 500;
  margin-bottom: 50px;
  color: white;
}
/* ------------------------/-MAIN------------------------- */
.sec-grey1{
  background-color: #D3D3D3;
  text-align: center;
  padding: 40px 0;
}
.sec-grey1 h4{
  margin-top: 10px;
  color: grey;
  font-weight: 500;
}
/* -------------------------------------------------------- */
